
body {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/folk-pattern-black\ copy.png");
    margin: 0;
   
}


.navbar.fixed-top {
    background-color: lightsteelblue;
    padding: 0;
    border-bottom: 4px solid black;
}

.navbar-brand {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 200%;
}

.nav-item-border {
    border-right: 1px solid slategray;
}

.navbar-toggler-icon {
    background-color: black;
    color: pink;
    
}

#navbarMenu {
    margin-right: 350px;
}

.jumbotron {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: lightsteelblue;
    margin-bottom: 40px;
}

#profile-pic {
    height: auto ;
    max-width: 50%;
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
}

.col-sm-4 {
    margin-bottom: 20px;
}

.name-box-header {
    margin-left: 358px;
}

.nav-item.active {
    background-color: lightslategrey;
}

footer {
    background-color: lightsteelblue;
    text-align: center;
    padding: 5px;
    border-top: 4px solid black;
}

h1 {
    border-bottom: 4px solid black;
}

@media screen and (max-width: 1000px) {
    .name-box-header {
        margin-left: 30px;
    }

    .jumbotron {
        margin-left: 10px;
        margin-right: 10px;
    }
}